@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(estilosMenuAdministracion.css);
@import url(estilosOpcionesInventario.css);
@import url(estiloVerPedidos.css);
@import url(estilosSeguimientoInventario.css);
@import url(estilosEspacioReportes.css);
@import url(estilosEspacioNotificaciones.css);

*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{

	font-family: 'Open Sans', Sans-serif;

}

header{

	width: 100%;
	height: 50px;
	background: #333;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

}

.contenedor{

	width: 98%;
	margin: auto;

}

header .contenedor{

	display: table;	
	
}

h1{

	float: left;
	font-size: 25px;
}

section {

	width: 100%;
	margin-bottom: 25px;

}

@media (min-width: 1024px){

	.contenedor{

		width: 1000px;

	}

}